<div class="bg-dark" id="sidebar-wrapper">
	<div class="sidebar-heading">Vibey Menu</div>
	<div class="list-group list-group-flush">
		<a href="/requests" class="list-group-item list-group-item-action bg-dark text-white"><i
				class="fas fa-music mr-2"></i>Requests<span class="sr-only">(current)</span></a>
		<a href="/poll" class="list-group-item list-group-item-action bg-dark text-white"> <i
				class="fas fa-poll mr-2"></i>Poll</a>
		<a href="/good" class="list-group-item list-group-item-action bg-dark active"> <i
				class="far fa-newspaper mr-2"></i>Good News</a>
		<a href="" class="list-group-item list-group-item-action bg-dark text-muted"> <i
				class="fas fa-cogs mr-1"></i>Settings (soon)</a>
	</div>
	<div id="version">
		<p class="text-muted ml-3 mt-3">v<%= version %></p>
		<p class="text-muted text-center ml-3 mt-3">Made with ❤️ by opti_21</p>
		<a href="/logout"><button class="ml-3 mb-3 btn btn-sm btn-danger">Logout</button></a>
	</div>
</div>