<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <title>Vibey Bot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="css/404.css" />
    <style>
      body {
        color: white;
        background-color: #2d3436;
      }
    </style>
  </head>
  <body>
    <div class="text-wrapper">
      <div class="title" data-content="404">
        404
      </div>

      <div
        class="subtitle"
        data-content="Oops, the page you're looking for doesn't exist"
      >
        Oops, the page you're looking for doesn't exist.
      </div>

      <div class="buttons">
        <a class="button" href="/">Go to homepage</a>
      </div>
    </div>

    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="vendor/gsap/TweenMax.min.js"></script>
  </body>
</html>
