<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<title>Vibey Requests</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/requests.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/DataTables/datatables.min.css" />
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>

<body>
	<div class="d-flex bg-dark" id="wrapper">

		<!-- Sidebar -->
		<%- include ./partials/sidebar.ejs %>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<button class="btn btn-dark mr-3" id="menu-toggle"><i class="fas fa-bars"></i></button>
					<span class="navbar-brand mb-0 h1"><i class="far fa-hand-peace"></i> Vibey Bot</span>
				</nav>
				<h1>Say Hi</h1>
				<div class="rounded-lg border p-3" style="width: 90%; height: 90%;">
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="customSwitch1">
						<label class="custom-control-label" for="customSwitch1">Allow Single Votes</label>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Menu Toggle Script -->

	<script src="vendor/jquery/jquery.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="vendor/gsap/TweenMax.min.js"></script>
	<script src="js/moment.min.js"></script>

	<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
	<script src="js/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="vendor/DataTables/datatables.min.js"></script>
	<!-- <script src="js/script.min.js"></script> -->
	<script src="js/good.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		$(function () {
			$('#toggle-two').bootstrapToggle({
				on: 'Enabled',
				off: 'Disabled'
			});
		})
	</script>

</body>

</html>