<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitch Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Twitch Login</h1>
    <p>Please login with your twitch</p>
    <a href="/auth/twitch">login into twitch</a>
    </body>
</html>