body {
	color: white !important;
	background-color: #2d3436 !important;
}
.container {
	height: 100vh;
	width: 100vw;
}
.spotify {
	color: #1DB954
}
.youtube {
	color: #fc0800
}
.srLink {
	color: #ffffff;
}
.mix-add {
	margin-bottom: 5px;
}
.left {
	height: 100vh;
	overflow: hidden;
  overflow-y: scroll;
}