.vibey-card {
  border: 1px solid #372d47;

  border-radius: 31px 31px 31px 31px;
  -moz-border-radius: 31px 31px 31px 31px;
  -webkit-border-radius: 31px 31px 31px 31px;

  /* gradient */
  background: rgba(55, 45, 71, 1);
  background: -moz-linear-gradient(
    top,
    rgba(55, 45, 71, 1) 0%,
    rgba(32, 0, 51, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(55, 45, 71, 1)),
    color-stop(100%, rgba(32, 0, 51, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(55, 45, 71, 1) 0%,
    rgba(32, 0, 51, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(55, 45, 71, 1) 0%,
    rgba(32, 0, 51, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(55, 45, 71, 1) 0%,
    rgba(32, 0, 51, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(55, 45, 71, 1) 0%,
    rgba(32, 0, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372d47', endColorstr='#200033', GradientType=0 );
}
