body {
  color: white !important;
  font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url("/img/bg.png") !important;
  background-repeat: repeat;
}
#page-content-wrapper {
  background-image: url("/img/bg.png") !important;
  background-repeat: repeat;
}

.navbar {
  background-color: #372d47 !important;
}
a.nav-btn:hover {
  background-color: #745f96 !important;
}

a.bg-dark:hover {
  background-color: #745f96 !important;
}

#version {
  position: absolute;
  bottom: 0;
}
