body {
	background-color: rgba(0, 0, 0, 0) !important;
	font-family: 'Montserrat', sans-serif;
}

#poll {
	position: relative;
	left: 10px;
	top: 10px;
	z-index: 1;
}

#pollwin {
	width: 300px;
	position: absolute;
	z-index: 2;
	left: 100 px;
	top: 10px;
}

.choiceColor {
	float: left;
	width: 30px;
	height: 30px;
}