.left {
  height: 90vh;
}
.container {
  height: 100vh;
  width: 100vw;
}
#requests {
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
}
.spotify {
  color: #1db954;
}
.youtube {
  color: #fc0800;
}

.srName {
  width: 100%;
  display: block;
  overflow: auto;
  font-size: 20px;
  font-weight: 900;
  color: #f0e3ff;
}
.mix-add {
  margin-bottom: 5px;
}
.song {
  border-color: #372d47 !important;
}
.mix-song {
  border-color: #372d47 !important;
}
.song-top {
  background-color: #372d47;
  display: block;
  overflow: auto;
}
.reqBy {
  background-color: #270040 !important;
  border-color: #31004f !important
}
.song-ctrl {
  background-color: #270040 !important;
}

.addMixBtn {
  background-color: rgba(0, 150, 52, 0.35);
}
.addMixBtn:hover {
  background-color: rgb(0, 150, 52);
}
a.addMixBtn {
  color: white;
  text-decoration: none !important;
}

.reqDelBtn {
  background-color: rgba(252, 8, 0, 0.35);
}
.reqDelBtn:hover {
  background-color: rgb(206, 0, 0);
}
a.reqDelBtn {
  color: white;
  text-decoration: none !important;
}

.delMixBtn {
  background-color: rgba(252, 8, 0, 0.35);
}
.delMixBtn:hover {
  background-color: rgb(206, 0, 0);
}
a.delMixBtn {
  color: white;
  text-decoration: none !important;
}

.playBtn {
  background-color: #54318b !important;
}
a.playBtn:hover {
  background-color: #745f96 !important;
}
a.playBtn {
  color: white;
  text-decoration: none !important;
}
