<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <title>Poll Widget</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icon/favicon-16x16.png">
    <link rel="manifest" href="img/icon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/poll-widget.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <div id="poll">
        <div id="chart-1" style="height: 300px; width: 300px;" class="ml-3"></div>
        <div id="polltext" style="width: 300px;"></div>
    </div>
    <div id="pollwin"></div>


    <script src="../js/Chart.bundle.min.js"></script>
    <script src="../js/chartkick.js"></script>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/gsap/TweenMax.min.js"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="../js/poll-widget.js"></script>
</body>

</html>