<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <title>Poll Widget</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/widget-v2.css">
    <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
</head>

<body>
    <div id="chart-1" style="height: 300px;"></div>

    <script src="../js/Chart.bundle.min.js"></script>
    <script src="../js/chartkick.js"></script>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/gsap/TweenMax.min.js"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="../js/poll-widget.js"></script>
    <!-- <script src="../js/mix-script.min.js"></script> -->

</body>

</html>